@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}


.navbar-brand{
    color: aliceblue;
    font-weight: 300;
    font-size: 20pt!important;
    font-family: 'Noto Sans SC', sans-serif;
}

.navbar-brand:hover{
    color: aliceblue;
}
.navbar ul li a {
    color: whitesmoke;
    font-weight: 300;
}
.navbar-nav > .active > a { 
    color: whitesmoke;
    border-bottom: 3px solid rgb(64, 223, 175);
}

.navbar .navbar-collapse {
    text-align: center;
    
}
#toggler{
    color: aliceblue;
}

body{
    background: url("images/mobile-home.png");
}

header > h1{
    text-align: center;
    color: aliceblue;
}

hr{
    background-color: rgb(64, 223, 175);
    border: 0 none;
    color:  rgb(64, 223, 175);
    height: 1px;
    width: 20%;
}

/*Floating Chat bot*/
#modal-btn{
    margin-left: 13em;
}


#chat-body{
    width: 29em;
    height: 30em;
    overflow: hidden!important;
}

.float{
	position:fixed;
	width:110px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius: 10px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(65, 64, 64, 0.507);
    text-decoration: none;
}

#float-text{
	margin-top:1.5px;
}

.my-float{
    margin-left: 4px;
}

#mobile-float{
    display: none;
}

/*Chat bot*/
#msg-box{
    
    height: 300px;
    display: block;
    overflow-y: auto;
}


#reply{
    background: #74747488;
    width: 300px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    position:relative;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
}

#input{
    
    background: #1a81d4;
    width: 250px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    position:relative;
    margin-left: 100px!important;
    height: auto;
}

#messageInput{
    width: 17em;
}

#chat{
    width: 25em;
    height: 28em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#git-link{
    background-color: rgb(64, 223, 175);
}

/*Footer*/

footer {
    background: #09141b;
    height: 80 !important
}

.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #09141b;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

#info{
    margin-right: 100px!important;
}

.bold-text {
    color: #d4d4d4 !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}

h3 {
    margin-top: -10px!important;
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    color: rgba(255, 255, 255, 0.692)!important;
}

#imp-links > li{
    font-size: 13.5pt;
}

#imp-links > li > a { color: inherit; } 

/*End Footer*/


/*End of Chat bot*/


@media only screen and (max-width: 450px){
    .navbar-nav > .active > a { 
        border-radius: 0%!important;
    }
    #chat-body{
        width: 23em!important;
        height: 28em;
        overflow: hidden!important;
    }

    .navbar-nav > .active > a { 
        border-bottom: 1px solid rgb(64, 223, 175);
        border-top: 1px solid rgb(64, 223, 175);
    }

    #info{
        margin-right: 30px!important;
    }

    #chat{
        width: 21em;
        height: 28em;
    }

    #messageInput{
        width: 13em;
    }
    #reply{
        width: 250px;
    }
    
    #input{
        
        width: 250px;
        margin-left: 50px!important;
       
    }
   

}
